body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
a, button {
    color: teal;
    text-decoration: none;
    margin: 5px;
}
a:hover, button:hover {
    color: crimson;
}
.tabcontent {
    display: none;
    padding: 20px;
}
.tablinks {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    opacity: 0.6;
}
.tablinks:hover, .tablinks.active {
    opacity: 1;
}
.dark-theme {
    --primary-color: #dc143c; /* Crimson */
    --secondary-color: #ff8c00; /* Dark Orange */
    --background-color: #000000; /* Black */
    --text-color: #ffffff; /* White */
}
.light-theme {
    --primary-color: #ffa07a; /* Light Salmon */
    --secondary-color: #7fffd4; /* Aquamarine */
    --background-color: #f0f8ff; /* Alice Blue */
    --text-color: #000000; /* Black */
}